body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f4fb;
  color: #333333;
line-height: 1.6;
}

nav {
  padding: 15px;
  background-color: #6b4c8a;
  padding: 15px;
}

nav ul {
 display: flex;
 justify-content: center;
 gap: 60px;
 list-style: none;
 padding: 0;
 margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

header {
  text-align: center;
  padding: 40px 20px;
}

div {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;

}

.sterotype {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;

}

.accessiblity {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;

}

main{
max-width: 1000px;
margin: o auto;
padding: 20px 40px;
}
