body {
  font-family: Arial, Helvetica, sans-serif;
  margin:20px;
  padding: 0;
  background-color: #f8f4fb;
  color: #333333;
line-height: 1.6;
}

nav {
  background-color: #6b4c8a;
  padding: 15px;
}

nav ul {
 display: flex;
justify-content: space-evenly;
align-items: center;
list-style: none;
margin: 0;
padding: 15px;
 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

header {
  text-align: center;
  padding: 40px 20px;
}

div {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;
margin: 20px;
}

.sterotype {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;

}

.accessiblity {
  background-color: #f3eef7;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #6b4c8a;

}

main{
max-width: 1000px;
margin: 0 a;
padding: 20px 40px;
}
